#!/usr/bin/env bash
# {{ ansible_managed }}

# Function "log_timestamp"
log_timestamp() {
    while IFS= read -r line; do
        printf '[%s] %s\n' "$(date '+%Y-%m-%d %H:%M:%S')" "$line";
    done
}

# Make sure the "trigger" is no older than 5 minutes
if [ $(find {{ trigger }} -maxdepth 1 -type f -amin +5) ]
then
    echo "ROBOPATCH: WARNING! Timestamp on {{ trigger }} was older than 5 minutes. Exiting." | log_timestamp >> {{ logfile }} && exit 1
fi

# Make sure there is space for the updates
#   - First get the info
var_space=$(df -hlm | grep var | awk '{ print $4 }')
boot_space=$(df -hlm | grep boot | awk '{ print $4 }')
root_space=$(df -hlm | grep root | awk '{ print $4 }')
#   - Then test the disk space
if [ ${var_space} -le 1500 -a ${boot_space} -le 100 -a ${root_space} -le 2000 ]
then
    echo "ROBOPATCH: ERROR! Missing space on either var, boot or root filesystem" | log_timestamp >> {{ logfile }} && exit 1
fi

# --- {{ pkgmgr }} --- #
# Clean the {{ pkgmgr }} cache
{{ pkgmgr }} clean all | log_timestamp >> {{ logfile }}
# Update {{ pkgmgr }} itself
{{ pkgmgr }} -y update {{ pkgmgr }} | log_timestamp >> {{ logfile }}
# Update the entire system
{{ pkgmgr }} -y update --skip-broken | log_timestamp >> {{ logfile }}

# Log OK or KO status
if [ $? -eq 0 ] 
then 
    echo "ROBOPATCH: {{ pkgmgr }} did its job. Exit code: "$? | log_timestamp >> {{ logfile }}
else
    echo "ROBOPATCH: ERROR! {{ pkgmgr }} exited with error code: "$? | log_timestamp >> {{ logfile }} && exit 1
fi

# Reboot check
if [ {{ auto_boot }} == True ]
then
    if ! needs-restarting -r;
    then
        echo "ROBOPATCH: {{ inventory_hostname }} is rebooting!" | log_timestamp >> {{ logfile }}
        /usr/sbin/reboot | log_timestamp >> {{ logfile }}
    else 
        echo "ROBOPATCH: Reboot check complete. No need for reboot" | log_timestamp >> {{ logfile }}
    fi
else
    echo "ROBOPATCH: Automatic reboot is turned OFF." | log_timestamp >> {{ logfile }}
    exit 0
fi

exit 0


